.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
    width: 100%;
    .input-with-messages{
        width:50%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        .message-input {
            margin: 1% 0;
            width: 100%;
        }
        app-messages-list {
            width: 100%;
            height:85%;
            padding-top:5%;

        }
    }
}