.bot-wrapper {
    .avatar{
        width: 7rem;
        height: 7rem;
    }
    .bot-text {
        margin-bottom: 5%;
        font-size:medium;
    }
    
    .bot-answer {
        margin-bottom: 3%;
        font-weight: bold;
    }
}